html {
    font-size: calc(1em + 1vw);
}

body {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    font-family: 'Sf ui display', sans-serif;
    font-weight: 400;
    background-color: #5cdb95;
    color: #05386b;
}

input {
   width: 80% ;
}

img {
    width: 100%;
}

.item {
    box-shadow: .1em .1em .1em .1em rgba(0, 0, 0, 0.2);
    padding: 2%;
    animation: color_change 1s;
    font-size: .8em;
}

.item:hover {
    background-color: yellow;
}

.popular {
    font-size: .7em;
    padding-left: .5em;
    color: gray;
}

.popularContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
}

.dataContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5%;
}

.popularItem {
    font-size: .5em;
    color: #edf5e1;
}

.smallGray {
    font-size: .55em;
    color: gray;
}

#selected {
    background-color: yellow;
    font-size: 1em;
}

@keyframes color_change {
    0% {
        color: #edf5e1;
    }

    100% {
        color: #05386b;
    }
}

@media (max-width: 1100px) {
    .popularContainer {
        grid-template-columns: 1fr 1fr 1fr;
    } 
    .dataContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media (max-width: 750px) { 
    .popularContainer{
        grid-template-columns: 1fr 1fr;
    
    }
    .dataContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px) { 
    .popularContainer {
        grid-template-columns: 1fr;
    }

    .dataContainer {
        grid-template-columns: 1fr;
    }
}
