.popularContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
}

.dataContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5%;
}

.popularItem {
    font-size: 1vw;
}

.item {
    box-shadow: .1em .1em .1em .1em rgba(0, 0, 0, 0.2);
    padding: 2%;
    animation: color_change 1s;
    font-size: 3vw;
}

.item:hover {
    background-color: yellow;
}

input {
   width: 80% ;
}

img {
    width: 100%;
}

#selected {
    background-color: yellow;
    font-size: 2.5vw;
}

.smallGray {
    font-size: 2vw;
    color: gray;
}

@keyframes color_change {
    0% {
        color: white;
    }

    100% {
        color: black;;
    }
}

/* @media (min-width: 1000px) { 
    .dataContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */
@media (max-width: 750px) { 
    .popularContainer{
        grid-template-columns: 1fr 1fr;
    
    }
    .dataContainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 400px) { 
    .popularContainer {
        grid-template-columns: 1fr;
    }
    .popularItem {
        font-size: 2vw;
    }
    .dataContainer {
        grid-template-columns: 1fr;
    }
}
